* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #fff;
}

.bgLightbox {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.75);
}

.lightBox {
    width: 40%;
    display: flex;
    flex-direction: column;
}

.img {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;
}

.close {
    background-image: url(./images/icon-close.svg);
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
    cursor: pointer;
    transition: .3s;
}

.close:hover {
    background-image: url(./images/icon-close2.svg);
}

.imgPrincipal {
    position: relative;
    background-image: url(./images/image-product-1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 450px;
    border-radius: 10px;
    z-index: 1;
}



.before {
    position: absolute;
    content: '';
    top: 45%;
    left: -5%;
    padding: 25px;
    background-image: url(./images/icon-previous.svg);
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
    transition: .3s;
    background-color: #fff;
    z-index: 2;
}

.after {
    position: absolute;
    content: '';
    top: 45%;
    right: -5%;
    padding: 25px;
    background-image: url(./images/icon-next.svg);
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
    transition: .3s;
    background-color: #fff;
}

.before:hover {
    background-image: url(./images/icon-previous2.svg);
}

.after:hover {
    background-image: url(./images/icon-next2.svg);
}

.othersImg {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}

.othersImg img {
    width: 80px;
    height: 80px;
    border-radius: 10px;
}

